body {
    background-image: url('../images/cookies.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Kirang Haerang', cursive;
    height: 100%;
}
body header h1 , h2 {
    text-align: center;
    font-size:40px;
    font-weight: bolder;
}
body main h3 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}
main form {
    width: 30%;
    margin-left: 37%;
    background-color:rgba(63, 62, 62, 0.466);
    text-align: justify;
    margin-bottom: 20px;
}
main form input {
   margin-top: 10px;
}
#submit {
    color: black;
    font-weight: bolder;
    width: 20%;
    height: 15%;
    margin-left: 40%;
}
















table{
    border-collapse: collapse;
    background-color: rgba(218, 191, 155, 0.596);
    margin-left: 400px;
    width: 60%;
    height: 250px;
    font-weight: bolder;
    /* margin-top: 10%; */
}
tr, th, td {
    border : 2px solid black;
    text-align: center;
}